<form (ngSubmit)="onSubmit($event)"
    class="login-form" [formGroup]="form">
    <h1 class="h1 mb60">Login</h1>
    <label class="social-control-label mb16">
        UserName
        <input formControlName="username"
        type="text" placeholder="Login" class="social-input">
    </label>
    <label class="social-control-label mb32">
        Password
        <div class="password-input">
            <input 
                formControlName="password" 
                [type]="isPasswordVisible() ? 'text' : 'password'"
                placeholder="Password" class="social-input">
            <button
                (click)="isPasswordVisible.set(!isPasswordVisible())"
                [class.active]="isPasswordVisible()"
                class="password-eye-btn">
                i
            </button>
        </div>
        
    </label>

    <button class="btn" type="submit">Login</button>
</form>
